.input {
    width: 100%;
    display: block;
    font-family: inherit;
    border: 2px solid $color-gray;
    background-color: $color-gray;
    padding: 20.5px 0 20.5px 30px;
    border-radius: 20px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: 0;
    &:hover {
        border: 2px solid $color-border;
    }
    &:placeholder {
        color: $color-light;
        opacity: 0.5;
    }
    &:focus {
        border: 2px solid $color-blue;
    }
    &_error {
        border: 2px solid $color-red;
    }
    // &_verify {
    //     background-color: $color-gray;
    // }
    // &_disabled {
    //     // background-color: $color-gray;
    // }
}
.label {
    display: block;
    margin-bottom: 10px;
}
