.modal {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: $color-blue;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(17, 17, 17, 0.1);
    &_show {
        display: flex;
    }
    &__item {
        white-space: nowrap;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        &:last-child {
            border-bottom: none;
        }
    }
}
